@model SaafiMoney.Models.SenderViewModels.SenderIndexViewModel
@{
        Layout = "_Layout";
    }

<h1>Senders</h1>

<table class="table table-hover">
    <tbody>
        @foreach (var sender in Model.SenderList)
        {
            <tr>
                <td><a asp-controller="Sender" asp-action="Detail" asp-route-id="@sender.ID">@sender.FirstName &nbsp; @sender.LastName </a></td>


            </tr>

        }
    </tbody>
</table>
