@model SaafiMoney.Models.RemittanceViewModel.NewRemittanceViewModel

<form asp-controller="Sender" asp-action="Send" method="post">
    <div class="form-group">
        <label asp-for="Amount" class="form-control"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
   
    <button type="submit">Send</button>
</form>
