@model SaafiMoney.Models.SenderViewModels.SenderTransactionsIndexViewModel
@{
    Layout = "_Layout";
}

    <h1>Your recent remmitances</h1>
        @if (Model.Remittances.Any())
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Amount</td>
                        <td>Created</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ben in Model.Remittances)
                    {
                        <tr>
                            <td>@ben.Amount</td>
                            <td>@ben.Created</td>
                        </tr>

                    }
                </tbody>
            </table>
        }

    else
    {
        <div>
            <p>You can add a recipient to<a asp-controller="Sender" asp-action="Send" asp-route-id="@Model.ID">Send Money</a> </p>
        </div>

    }
