@model SaafiMoney.Models.RecipientViewModel.RecipientIndexViewModel

<h1>Benificiary Details</h1>
<div>
    <h3>Full Name: @Model.FirstName &nbsp; @Model.LastName <br />
   Country: @Model.Country <br />
   Phone Number: @Model.Phone
    </h3>
</div>
